body {
    background-color: #f0eff2;
}

.header__nav {
    width: 550px;
}

.attendance-detail {
    width: 900px;
    margin: 100px auto;
}

.attendance-detail__title {
    font-size: 2rem;
    border-left: 8px solid #000;
    padding-left: 20px;
}

.attendance-detail__records {
    width: 100%;
    border-collapse: separate;
    border-spacing: 0 4px;
    margin-top: 50px;
}

.attendance-detail__item {
    background-color: #fff;
    width: 100%;
    height: 80px;
}

.attendance-detail__item:first-of-type th:first-of-type {
    border-radius: 10px 0 0 0;
}

.attendance-detail__item:first-of-type th:last-of-type {
    border-radius: 0 10px 0 0;
}

.attendance-detail__item:last-of-type td:first-of-type {
    border-radius: 0 0 0 10px;
}

.attendance-detail__item:last-of-type td:last-of-type {
    border-radius: 0 0 10px 0;
}

.attendance-detail__item th,
.attendance-detail__item td {
    line-height: 80px;
}

.attendance-detail__item th:first-of-type,
.attendance-detail__item td:first-of-type {
    color: #666;
    width: 230px;
}

.attendance-detail__item th:last-of-type,
.attendance-detail__item td:last-of-type {
    width: 670px;
}

.attendance-detail__item td {
    text-align: center;
    font-weight: bold;
}

.attendance-detail__item td p {
    display: inline-block;
}

.attendance-detail__date td p:first-of-type {
    margin-right: 100px;
}

.attendance-detail__working-time td p:first-of-type,
.attendance-detail__break td p:first-of-type {
    margin-right: 44px;
}

.attendance-detail__working-time td p:last-of-type,
.attendance-detail__break td p:last-of-type {
    margin-left: 44px;
}

.attendance-detail__approval {
    text-align: right;
    margin-top: 50px;
}

.attendance-detail__button {
    background-color: #111;
    color: #fff;
    border: none;
    cursor: pointer;
    width: 130px;
    height: 50px;
    border-radius: 5px;
    font-size: 1.5rem;
}

.attendance-detail__button--approve:hover {
    background-color: #000;
}

.attendance-detail__button--approved {
    background-color: #888;
    color: #fff;
    cursor: auto;
}
