body {
    font-family: Arial, sans-serif;
    box-sizing:border-box;
}

.header {
    background-color: #000;
    color: #fff;
    padding: 10px 0px;
}

.header__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
    max-width: calc(100% - 40px);
    height: 60px;
}

.header__logo img {
    width: 370px;
    height: 60px;
}

.header__nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 420px;
    height: 60px;
}

.header__link {
    color: #fff;
    text-decoration: none;
    font-size: 1.3rem;
}

.header__button {
    all: unset;
    cursor: pointer;
    font-size: 1.3rem;
}