.login {
    width: 44vw;
    margin: 6.5vw auto;
}

.login__title {
    text-align: center;
    font-size: 2.2vw;
}

.login__form {
    margin-top: 3.2vw;
}

.login__form-group {
    display: flex;
    flex-direction: column;
}

.login__form-group:not(:nth-of-type(1)) {
    margin-top: 1.9vw;
}

.login__label {
    font-weight: bold;
    font-size: 1.7vw;
}

.login__input {
    border: 1px solid #000;
    padding: 0 0.5vw;
    font-size: 1.4vw;
    border-radius: 0.3vw;
    height: 2.8vw;
    margin-top: 0.5vw;
}

.login__button {
    background-color: #111;
    color: #fff;
    border: none;
    cursor: pointer;
    width: 100%;
    padding: 0.5vw;
    font-size: 1.9vw;
    height: 3.9vw;
    border-radius: 0.3vw;
    margin-top: 4.5vw;
}

.login__button:hover {
    background-color: #000;
}

/* PC画面時(1400-1540px) */
@media screen and (min-width: 1400px) and (max-width: 1540px) {
    .login {
        width: 680px;
        margin: 100px auto;
    }

    .login__title {
        font-size: 2rem;
    }

    .login__form {
        margin-top: 50px;
    }

    .login__form-group:not(:nth-of-type(1)) {
        margin-top: 30px;
    }

    .login__label {
        font-size: 1.5rem;
    }

    .login__input {
        padding: 0 10px;
        font-size: 1.2rem;
        height: 43px;
        margin-top: 10px;
        border-radius: 5px;
    }

    .login__button {
        padding: 10px;
        font-size: 1.7rem;
        height: 60px;
        margin-top: 70px;
        border-radius: 5px;
    }
}

/* タブレット画面時(768-850px) */
@media screen and (min-width: 768px) and (max-width: 850px) {
    .login {
        width: 370px;
        margin: 55px auto;
    }

    .login__title {
        font-size: 1.1rem;
    }

    .login__form {
        margin-top: 27px;
    }

    .login__form-group:not(:nth-of-type(1)) {
        margin-top: 16px;
    }

    .login__label {
        font-size: 0.8rem;
    }

    .login__input {
        padding: 0 5px;
        font-size: 0.8rem;
        height: 23px;
        margin-top: 5px;
        border-radius: 3px;
    }

    .login__button {
        padding: 5px;
        font-size: 0.9rem;
        height: 33px;
        margin-top: 38px;
        border-radius: 3px;
    }
}