body {
    background-color: #f0eff2;
}

.attendance {
    width: 450px;
    margin: 200px auto;
    text-align: center;
}

.attendance__status {
    background-color: #ccc;
    color: #666;
    padding: 10px 15px;
    border-radius: 20px;
}

.attendance__date {
    margin-top: 40px;
    font-size: 2rem;
}

.attendance__time {
    margin-top: 50px;
    font-weight: bold;
    font-size: 5rem;
}

.attendance__button {
    cursor: pointer;
    margin-top: 80px;
    width: 190px;
    height: 65px;
    border: none;
    font-size: 2rem;
    border-radius: 10px;
}

.attendance__buttons {
    display: flex;
    justify-content: space-between;
}

.attendance__working,
.attendance__leaving {
    background-color: #111;
    color: #fff;
}

.attendance__working:hover,
.attendance__leaving:hover {
    background-color: #000;
}

.attendance__break--begins,
.attendance__break--ends {
    background-color: #fff;
    color: #000;
}

.attendance__break--begins:hover,
.attendance__break--ends:hover {
    font-weight: bold;
}

.attendance__message {
    margin-top: 80px;
    font-weight: bold;
    font-size: 1.5rem;
}

.attendance__leaving,
.attendance__break--begins,
.attendance__break--ends,
.attendance__message {
    /* display: none; */
}