body {
    background-color: #f0eff2;
}

.request-list {
    width: 900px;
    margin: 100px auto;
}

.request-list__title {
    font-size: 2rem;
    border-left: 8px solid #000;
    padding-left: 20px;
}

.request-list__tabs {
    margin-top: 60px;
    padding: 10px 60px;
    border-bottom: 2px solid #000;
}

.request-list__tab {
    display: inline-block;
    text-decoration: none;
    color: #000;
    font-size: 1rem;
}

.request-list__tab:first-of-type {
    margin-right: 100px;
}

.request-list__tab--active {
    font-weight: bold;
}

.request-list__records {
    width: 100%;
    border-collapse: separate;
    border-spacing: 0 4px;
    margin-top: 40px;
}

.request-list__item {
    background-color: #fff;
    width: 100%;
    height: 40px;
}

.request-list__item th,
.request-list__item td {
    color: #666;
    line-height: 40px;
}

.request-list__item td {
    text-align: center;
}

.request-list__item th:first-of-type {
    border-radius: 10px 0 0 0;
}

.request-list__item th:last-of-type {
    border-radius: 0 10px 0 0;
}

.request-list__item:last-of-type td:first-of-type {
    border-radius: 0 0 0 10px;
}

.request-list__item:last-of-type td:last-of-type {
    border-radius: 0 0 10px 0;
}

.request-list__item td a {
    text-decoration: none;
    color: #222;
}

.request-list__item td a:hover {
    color: #000;
}

.request-list__item td:last-of-type {
    color: #222;
    font-weight: bold;
}


